<footer style="margin-top: 3rem; padding: 1.5rem 0; font-size: 0.9rem; text-align: center; color: #888;">
    <hr style="margin-bottom: 1rem;">
  
    <p>&copy; {{ now.Year }} ClueMasters — Todos los derechos reservados</p>
  
    <p>
      <a href="/quienes-somos/">Quiénes somos</a> |
      <a href="/politica-de-privacidad/">Política de privacidad</a> |
      <a href="/terminos-y-condiciones/">Términos y condiciones</a> |
      <a href="/contacto/">Contacto</a>
    </p>
</footer>
  

{{- if (not site.Params.disableThemeToggle) }}
<script>
    document.getElementById("theme-toggle").addEventListener("click", () => {
        if (document.body.className.includes("dark")) {
            document.body.classList.remove('dark');
            localStorage.setItem("pref-theme", 'light');
        } else {
            document.body.classList.add('dark');
            localStorage.setItem("pref-theme", 'dark');
        }
    })
    function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"87c6ffe867998865fe23eb84999e5f68"})});
</script>
{{- end }}